<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/algorythmHW01vol2/src/algorythmHW01vol2/lms181009.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="algorythmHW01vol2.lms181009"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="algorythmHW01vol2"/>
</launchConfiguration>
